.home-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .header-left{
        display: flex;
        gap: 16px;
        color: gray;
        align-items: center;
    }
}